<div class="container">
  

<div class="row">
  <div class="col-md-12 companyName"><%=   @stock.name %> </div>
</div>

<div class="row">
  <div class="col-md-2 companySymbol"><%= @stock.symbol %> &nbsp;  $<%= @stock.ask %>*</div>

  <% if @get_quotes["quotes"]["quote"]["change"] > 0 %>

  <div class="col-md-10 sharePricePercentageChange" id="green"> <%= @get_quotes["quotes"]["quote"]["change"]%><i class="fa fa-arrow-up"></i>  &nbsp;  <%= @get_quotes["quotes"]["quote"]["change_percentage"]%>%
  </div>

  <% else %>
  <div class="col-md-10 sharePricePercentageChange" id="red"> <%= @get_quotes["quotes"]["quote"]["change"]%><i class="fa fa-arrow-down"></i>  &nbsp;  <%= @get_quotes["quotes"]["quote"]["change_percentage"]%>%
  </div>
  <%end%>
</div>


  <div class="row">
    <div class="col-md-12 prevClose" >Previous Close: $<%= @get_quotes["quotes"]["quote"]["prevclose"] %> </div>
  </div>
  

  <div class="row">
    <!-- <div class="col-md-2">Previous close:<%=    @stock.previous_close %></div> -->
    <div class="col-md-12 eps">Eps estimate next quarter:  <%= @stock.eps_estimate_next_quarter%></div>
  </div>


<br/>
<br/>
<br/>
<br/>

<div class="row">
  <div class="col-md-4 votes text-center">
    <div class="voteNumber"><%= @buy_votes %></div>
    <div class="voteSubheading">votes</div>
    <%= link_to "Buy", "/votes?vote=buy&company=#{@company.id}", method: :post, class: "btn" %>  
  </div>

  <div class="col-md-4 votes text-center">
    <div class="voteNumber"><%= @sell_votes %></div>
    <div class="voteSubheading">votes</div>
    <%= link_to "Sell", "/votes?vote=sell&company=#{@company.id}", method: :post, class: "btn" %>  
  </div>

  <div class="col-md-4 votes text-center">
    <div class="voteNumber"><%= @hold_votes %></div>
    <div class="voteSubheading">votes</div>
    <%= link_to "Hold", "/votes?vote=hold&company=#{@company.id}", method: :post, class: "btn" %>  
  </div>
</div> 
  
 <br/>
 <br/>
 

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><%= pie_chart @company_votes %> </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="box">
        <div class="heading"> Average Daily Volume </div>
        <div class="value"><%= @stock.average_daily_volume %> shares per day</div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box">
        <div class="heading"> Last trade date </div>
        <div class="value"><%= @stock.last_trade_date %></div>
      </div>
    </div>
  
    <div class="col-md-4">
      <div class="box">
        <div class="heading"> Previous Close </div>
        <div class="value"><%= @get_quotes["quotes"]["quote"]["prevclose"] %></div>
      </div>
    </div>
  </div> 

    

</div>


