<!DOCTYPE html>
<html>
  <head>
    <title>StockMarket</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body id="page-top" class="index">

    <!-- preloader -->
    <div id="loader">
      <div class="icon"></div>
    </div>
    <!-- end: preloader --> 

    <!-- header -->
    <header>
    
      <!-- Navigation -->
      <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <!-- Brand -->
                  <a class="navbar-brand" href="/"><%= image_tag "marketalk-logo.png", class: "sitelogo" %></a>
                  <!-- End Brand -->
                </div>
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav navbar-right">
                      <li>
                        <a href="/login">Login</a>
                      </li> 
                      <li>
                        <a href="/signup">SIGNUP</a>
                      </li>                    
                      <li>
                        <a href="/about">About</a>
                      </li>
                      <li>
                        <a href="/home">Home</a>
                      </li>
                      <!-- dropdown menu -->
              <!-- <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages<span class="fa fa-angle-down"></span></a>
 -->
                <!-- <ul class="dropdown-menu dropdown-menu-left">
                  <li><a href="faq.html">FAQ</a></li>
                  <li><a href="404.html">404 Page</a></li>
                  <li><a href="signup.html">Sign Up</a></li>
                  <li><a href="signin.html">Sign In</a></li>
                </ul> -->
                
            <!--   </li> -->
                  <!-- end: dropdown menu -->
                    <!--   <li>
                        <a href="services.html">Services</a>
                      </li>
                      <li>
                        <a href="portfolio.html">Portfolio</a>
                      </li>                                                                           
                      <li>
                        <a href="blog.html">Blog</a>
                      </li>                       
                      <li>
                        <a href="contact.html">Contact</a>
                      </li> -->
                      <li>

                        <!-- search box for small devices -->
                        <div id="mobile-search" class="hidden-sm hidden-md hidden-lg">
                          <input type="text" placeholder="Search ..." class="form-control search-box-mobile">
                          <button class="btn btn-success">
                            <span class="fa fa-search"></span>
                          </button> 
                        </div>  
                        <!-- end: search box for small devices -->

                        <!-- search icon for desktop -->
                        <div id="search-icon" class="hidden-xs">
                          <a href="javascript:void(0)"><span class="fa fa-search"></span></a>
                        </div>
                        <!-- end: search icon for desktop -->
                      </li>
                  </ul>                                                                   
                </div>  

                  <!-- search box for desktop -->
                  <div class="search-box">
                    <div class="container no-padding">
                 <%= form_tag '/search', method: :post, :class => "pos-relative" do  %>
                              <%= text_field_tag :search, nil, placeholder: "Enter ticker code or search for companies by name", class: "form-control" %>
                              <span class="fa fa-times"></span>
                        <% end %>
                      </div>                    
                  </div>

                  <!-- end: search box for desktop -->
            </div>                  
        </nav>
      <!-- End Navigation -->
    </header>


    <% flash.each do|name,success|%>
      <div class="alert alert-success" role="alert">      
        <p><%= success %></p>
      </div>
    <% end %>


    <%= yield %>
           

    <!-- footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="footer-wrap">
              <div class="border-style">
                <span class="footer-contact">Contact Us</span>
              </div>
              <ul class="list-unstyled contact-info">
                <li><span class="fa fa-map-marker"></span>38204 Hastings,CA</li>
                <li><span class="fa fa-mobile"></span>+817-975-2450</li>
                <li><span class="fa fa-envelope"></span>bhanusruti512@gmail.com</li>
              </ul>
            </div>    
          </div>
          <div class="col-md-4">
            <div class="footer-wrap">
              <div class="border-style">
                <span class="footer-contact">Useful Links</span>
              </div>
              <ul class="list-unstyled">
                <!-- <li><a href="faq.html">FAQ</a></li> -->
                <li><a href="signup.html">Sign Up</a></li>
                <li><a href="signin.html">Sign In</a></li>
              </ul>
            </div>  
          </div>
          <div class="col-md-4">
            <div class="footer-wrap">
              <div class="border-style">
                <span class="footer-contact">Find Us On</span>
              </div>
              <ul class="list-inline footer-social">
                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
              </ul>
            </div>  
          </div>
        </div>
      </div>
      <p class="small-title text-center"><%= Time.now.year %> All Rights Reserved</p>
    </footer>
    <!-- end: footer -->  

    <!-- scroll top -->
    <div class="scroll-top">
      <a class="page-scroll" href="#page-top"><span class="fa fa-angle-up"></span></a>
    </div>
    <!-- end: scroll top -->




  </body>
</html>
